BINANCE_TESTNET_API_KEY=your_spot_testnet_api_key
BINANCE_TESTNET_API_SECRET=your_spot_testnet_api_secret
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_OWNER_CHAT_ID=your_private_chat_id
TELEGRAM_ACTION_PIN=your_four_digit_pin
